/*  your css code here. If applicable */
.t{
	text-align:center;
}
a{
	text-decoration:none;
}
li{
	list-style-type:none;
}
.player_one,.player_two{
	background-color:rgb(255, 255, 255);
	border-radius:5px;
	padding:20px 10px; 
}
/* .i{
	background-color:rgb(255, 255, 255);
	border-radius:5px;
	padding:20px 10px;
} */
body{
	background-color: rgb(204, 204, 204);
}